<style>
        p{text-align: justify;}
    </style>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Resources</h2>
                <hr class="primary">
                <p>Allysa. (2022, April 21). What is C2B ecommerce? everything you need to know. BiQ.  https://biq.cloud/blog/c2b-ecommerce/ </p> </a>
				<a href="#" <p> BigCommerce. (n.d.) Ecommerce: The history and future of online shopping.BigCommerce. https://www.bigcommerce.com/articles/ecommerce/</p>
				<p>Dey, S. (2022). Is Digital Disruption Of E-commerce Boosting Retail Industry Growth? Mar Tech 360. https://martech360.com/uncategorized/is-digital-disruption-of-e-commerce-boosting-retail-industry-growth/</p>
				<p>Dujardin, A. (2022). Ecommerce trends: 5 types of consumer behaviour every manager should know. Retrieved from https://www.textmaster.com/blog/5-types-of-consumer-behaviour-every-manager-should-know/</p> 
				<p>ESW. (2022). How E-commerce Has Changed Consumer Behavior. https://esw.com/blog/how-ecommerce-has-changed-consumer-behaviour/#:~:text=Ecommerce%20gives%20
					consumers%20access%20to,and%20the%20way%20they%20shop.</p>
				<p>Forbes. (2022). E-Commerce Sales Grew 50% to $870 Billion During The Pandemic. Retrieved from https://www.forbes.com/sites/jasongoldberg/2022/02/18/e-commerce-sales-grew-50-to-870-billion-during-the-pandemic/?sh=4614b02a4e83</p> 
				<p>Hani, A. (2021). E-Commerce and Digital Economy are Key Engines of Growth for the Philippines. Retrieved from https://opengovasia.com/e-commerce-and-digital-economy-are-key-engines-of-growth-for-the-philippines/</p>
				<p>Humarang, J. (2022). E-Commerce Philippines: 5 Reasons for Businesses to Get into E-commerce. Retrieved from https://golocad.com/blog/e-commerce-philippines-data/#:~:text=E%2Dcommerce%20is%20expected%20to,higher%20than%203.4%25%20in
				%202021. </p>
				<p>Jawaid, M.H., & Karim, E. (2021). Factors Affecting Consumer Buying Behavior in E-Commerce Business during Outbreak of Covid-19: A Case Study on Top E-Commerce Websites. Retrieved from https://mpra.ub.uni-muenchen.de/110476/</p>
				<p>Kiran, M. (2020). THE IMPACT OF ELECTRONIC COMMERCE ON BUSINESS ORGANIZATION. Retrieved from https://www.linkedin.com/pulse/impact-electronic-commerce-business-organization-kiran-m#:~:text=Electronic%20commerce%20expands%20the%20
				marketplace,cost%20leads%20to%20consumer%20empowerment.</p> 
				<p>Kodali, S. (2022). If E-commerce Keeps Growing, What Happens to Malls and Stores? Forrester. https://www.forrester.com/blogs/if-e-commerce-keeps-growing-what-happens-to-malls-and-stores/</p>
				<p>Larson, C. (2016, November 15).Disruptive innovation theory: What it is & 4 key concepts. Harvard Business School Online. https://online.hbs.edu/blog/post/4-keys-to-understanding-clayton-christensens-theory-of-disruptive-innovation</p>
				<p>Liqui-site. (2020). From Storefront to SEO: How eCommerce has Changed the Way We Do Business. https://www.liqui-site.com/blog/e-commerce-changing-business#:~:text=The%20effect%20of%20eCommerce,maintaining%20a%20walk%
					2Din%20location.</p>
				<p>Mahmood, S. H. (2022, June 13). How does mercari work? MUO. https://www.makeuseof.com/how-does-mercari-work/</p> 
				<p>Malloy, Q. (2019, January 22). Benefits of E-commerce For Customers and Businesses. Cloudtalk. https://www.cloudtalk.io/blog/benefits-of-e-commerce-for-customers-and-businesses/</p>
				<p>Marketing Schools. (2020, November 17). Disruptive marketing. Marketing Schools.https://www.marketing-schools.org/types-of-marketing/disruptive-marketing/#section-0</p>
				<p>Meteor Space (2022). E-commerce Consumer Buying Behavior: Trends and Statistics. https://www.meteorspace.com/2022/08/15/e-commerce-consumer-buying-behaviour-trends-and-statistics/</p>
				<p>Meteor Space (2022). E-commerce Consumer Buying Behavior: Trends and Statistics. https://www.meteorspace.com/2022/08/15/e-commerce-consumer-buying-behaviour-trends-and-statistics/</p>
				<p>Parisi, M. (2022, October 13). What is Depop? everything you need to know about the resale app. MUO. https://www.makeuseof.com/what-is-depop/</p> 
				<p>Phoebe. (2013, July 18).10 popular E-Commerce sites in the Philippines. Yahoo!news. https://ph.news.yahoo.com/10-popular-e-commerce-sites-150027160.html</p>
				<p>Provoto Group. (2020). Why Disruptive Technology is a Good Thing. Retrieved from https://www.theprovatogroup.com/why-disruptive-technology-is-a-good-thing/</p> 
				<p>Rivera, A. (2022, November 9). Understanding the customer-to-customer (C2C) model. Business News Daily. https://www.businessnewsdaily.com/5084-what-is-c2c.html</p>
				<p>Smith, T. (2022). Disruptive Technology: Definition, Example, and How to Invest. Retrieved from https://www.investopedia.com/terms/d/disruptive-technology.asp</p> 
				<p>The Manila Times. ( 2018, February 11). Shopee PH’s ‘mobile-first’ approach key to e-commerce success. PressReader. https://www.pressreader.com/philippines/manila-times/20180211/281732679944964</p>
				<p>UNCTAD. (2021). How COVID-19 triggered the digital and e-commerce turning point. Retrieved from https://unctad.org/news/how-covid-19-triggered-digital-and-e-commerce-turning-point</p>
				<p>Understanding the C2G E-commerce Business Model. KolibraCapital. (2022, May 12). https://www.kolibracapital.com/post/c2g-e-commerce</p>
				<p>Ward, P. (2022, October 10). C2B: Business Definition and examples. NanoGlobals. https://nanoglobals.com/glossary/c2b-consumer-to-business/#:~:text=C2B%20stands%20for%20Consumer-to-Business%2C%20
				and%20is%20used%20to,include%20referral%20programs%2C%20paid%20testimonials
				%2C%20or%20data%20sharing.</p>  
				<p>What is consumer to business (C2B): Definition and examples. (2021, April 27). Retrieved December 11, 2022, from https://www.indeed.com/career-advice/career-development/consumer-to-business</p> 
				<p>What is gcash? A dependably complete beginner's guide. GCashResource. (2022, November 6). https://gcashresource.com/what-is-gcash-a-beginners-guide/ </p>
 </div>
</section>
