<style>
    .intro{
        text-align:center; 
        background-color:rgba(0,0,0,0);
	}
	.h6 {text-align: center;
	}
</style>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>ALL ABOUT E-COMMERCE</h1>
            <hr>
			<h6 class= "h6"> By Group A | December 18, 2022 </h6>
            <p class="intro">
                Learn the general gist of E-commerce, what it is, how it works, and why it is considered as a disruptive technology. 
                <br>Ready?</p>
            <a href="#ecommerce" class="btn btn-primary btn-xl page-scroll">Let's Start!</a>
        </div>
    </div>
</header>

